*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.input{
    width: 300px;
    margin: 50px auto;
    background-color: white;
    display: block;
    border: 0;
    padding-right: 25px;
    padding: 15px 25px; 
    color: #333;
    box-shadow: rgba(100, 100,111,0.2) 0px 7px 29px 0px;

}
.input-wrapper{
    width: 300px;
    margin: 50px auto;
    position: relative;
}
.input-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}
.input.valid + .input-icons .fa-check,
.input.invalid + .input-icons .fa-check
{
   opacity: 1;
   visibility: visible;
   transform: scale(1);
}


.input-icons i{
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease;
    position: absolute;
}
/* .fa-check{
    background-color: #20e3b2;
} */
.fa-times {
    background-color: #fc5776;
}
.check-list{
    margin-top: 25px;
    font-size: 14px;
    color: #999;
}
.check-item{
    margin-bottom: 15px;
}
.check-item.active{
    color: #20e3b2;
    
}

.check-item.unactive{
    color: red;
}
.check-item i{
    font-size: 12px;
    color: inherit;
    margin-right: 18px;
}
.container{
    max-width: 1000px;
    padding: 50px 25px;
    line-height: 1;
    margin: 0 auto;
}
.container p {
    margin-bottom: 25px;
}
.container img{
    margin-bottom: 25px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.2s ease;

}
.container img.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}