body{
    font-size: 62.5%;
}
.noti{
    position: fixed;
    left: 1.5rem;
    bottom: 1.5rem;
    background-color: white;
    box-shadow: rgba(100, 1000, 110, 0.2)0px 7px 29px 0px;
    border-radius: 0.8rem;
    display: flex;
    max-width: 400px;
    height: 130px;
    transform: translateY(150%);
    animation:  noti 4s forwards 1 linear;
}

@keyframes noti{
    20%,
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(150%);
    }
}
.noti-image{
    width: 30%;
    flex-shrink: 0;
    border-radius: inherit;
    object-fit: cover;
}
.noti-container{
    padding: 15px;
    flex: 1;
}
.noti-title{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.noti-desc{
    font-size: 14px;
    line-height: 1.6;
}

.boxed{
    width: 200px;
    height: 200px;
    padding: 2rem;
    margin-left: 5rem;
    border: 5px solid ;
    border-top: 10px solid ;

}

.botton{
    padding: 2rem;
    color: white;
    background-color: #4f3a40;
    margin: 50px auto;
    width: 300px;
    border: 0;
    display: block;
    cursor: pointer;
}

.change {
    display: block;
    padding: 15px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    margin: 50px auto;
    background-color: #3d6ef7;

}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;

}
.counter-descrease{
    font-size: 1.9rem;
    border-radius: 10px;
}
.counter-number{
    padding: 10px 20px;
    background-color: transparent;
    font-size: 3rem;
}
.counter-increease{
    font-size: 1.9rem;
    border-radius: 10px;
}

/* tab */
.tab{
    position: relative;
    width: 500px;
    margin: 50px auto;
     /* background-color: #f4f5f7; */
} 
.tab-list{
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    scroll-behavior: smooth;
}
.tab-item{
    cursor: pointer;
    padding: 1.2rem 2rem;
    border-radius: 5rem;
    color: #818e9b;
    background-color: #f4f5f7;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    flex: 1;
}
.tab-item.active{
    color: white;
    background-color: #2979ff;
    pointer-events: none;
    border-bottom: 1px solid red;
}
.tab-item:not(:first-child){
    margin-left: 1.5rem;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}
.tab-next{
    top: 7%;
    position: absolute;
    /* display: block; */
    left: 20%;
}
.tab-prev{
    top: 7%;
    position: absolute;
    /* left: 50%; */
    right: 20%;
}
i.disabled{
    display: none;
}
.post{
    display: flex;
    align-items: center;
}
.post:not(:first-child){
    margin-bottom: 2rem;
}
.post-title{
    color: #514e4f;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
}

/* bt3 */
.accordion {
    margin-bottom: 3rem;
    min-width: 500px;
}
.accordion-header{
    padding: 2rem;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion-header *{
    pointer-events: none;
}
.accordion-content{
    border: 1px solid #eee;
    border-top: 0;
    color: #333;
    font-size: 1.4rem;
    line-height: 1.6;
    height: 0;
    overflow: hidden;
    transition: all 0.25s linear;

}
.accordion-content-inner {
    padding: 2rem;
    border: 1px solid #eee;
}
.accordion-content.is-active{
    height: auto;
}
/* bt4 */
.button{
    display: block;
    width: 150px;
    border: 0;
    background-color: #07a787;
    color: white;
    padding: 1.5rem;
    margin: 15px auto;

}
.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
  }
  .modal-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .modal-content {
    background-color: white;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    position: relative;
    z-index: 10;
    padding: 30px;
    cursor: auto;
  }
  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100rem;
    color: white;
    background-color: #eee;
    padding: 5px;
    transform: translate(50%, -50%);
  }
  .modal-main {
    overscroll-behavior-y: contain;
  }
 
/* bt5 */
.content{
    max-width: 1024px;
    padding: 50px 25px;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    margin: 0 auto;
}
img{
    cursor: zoom-in;
}
.content p{
    margin-bottom: 30px;
}
.content img{
    display: block;
    margin-bottom: 30px;
}
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.75);
    align-items: center;
}
.lightbox-content{
    min-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    padding:  0 25px;
    justify-content: space-between;
}
.lightbox-content i{
    color: white;
    font-size: 3rem;
    flex-shrink: 0;
    cursor: pointer;
}
.lightbox-img{
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* bt6 */
.dropdown{
    width: 100%;
    max-width: 47.5rem;
    margin: 5rem auto;
    position: relative;
}
.dropdown_select{
    width: 100%;
    padding: 3rem;
    background-color: orangered;
    border-radius: 4px;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.dropdown_select *{
    pointer-events: none;
}
.dropdown__list.show{
    display: block;
 }
.dropdown__list{
    margin-top: 2.5rem;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}
.dropdown__list:before{
    content: "";
    height: 2.5rem;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}
.dropdown__item{
    padding: 3rem;
    background-color:orangered;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:  background-color 0.2s linear;
    cursor: pointer;

}
.dropdown__item *{
    pointer-events: none;
}
.dropdown__item:first-child{
    border-radius: 4px 4px 0 0;
    position: relative;
}
.dropdown__item:first-child:before{
    content: "";
    position: absolute;
    top: 0;
    left: 3rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--primary);
    transition:  border-color 0.2s linear;
    transform: translateY(-100%);
}
.dropdown__item:first-child:hover:before{
    border-bottom-color: var(--secondary);
}
.dropdown__item:last-child{
    border-radius: 0 0 4px 4px;
}
.dropdown__item:hover{
    background-color: var(--secondary);
}